# Ambiente virtual
venv/
.env

# Cache Python
__pycache__/
*.pyc
*.pyo

# Banco local e arquivos temporários
*.sqlite3
*.log

# VSCode / IDE
.vscode/
.idea/

# Tailwind / Node
node_modules/
build/
dist/
